/* Leaflet custom marker styles */
.custom-marker {
  background: transparent !important;
  border: none !important;
}

.custom-marker:hover {
  cursor: pointer;
}

.custom-marker > div:hover {
  transform: scale(1.15) !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 10px;
}
